*.out
*.hack
07/StackArithmetic/SimpleAdd/*.asm
07/StackArithmetic/StackTest/*.asm
07/MemoryAccess/BasicTest/*.asm
07/MemoryAccess/PointerTest/*.asm
07/MemoryAccess/StaticTest/*.asm
SW/assembler/bin/*
SW/assembler/load/*
SW/VM/bin/*
SW/VM/load/*